.Input{
    width: 100%;
}

.buttonCancel{
    width: 100%;
    border-radius: 10px;
    background-color: #5EA6E8;
    border: none;
    padding: 3px;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 20px;
}

.sentButton{
    width: 100%;
    border-radius: 10px;
    background-color: #5EA6E8;
    border: none;
    padding: 3px;
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 20px;
}

.icons{
    font-size: 40px;
    color: #5EA6E8;
}

.icons:hover{
    cursor: pointer;
}